.media img {
	height: 100px;
}

.p-t-8 {
	  padding-top: 8px !important;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
	cursor: pointer;
}

.rating{
	color: #a9a9a9;
	margin: 0;
	padding: 0;
}

ul.rating {
	display: inline-block;
}

.rating li {
	list-style-type: none;
	display: inline-block;
	padding: 1px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.rating .rateable li:hover {
	color: gold;
}
.rating .filled {
	color: #39a5dc;
}

.center {
	margin: 0 auto;
	width: 80%;
}
