<settings>
    <profiles>
        <profile>
            <id>jboss-ga-repository</id>
            <repositories>
                <repository>
                    <id>jboss-ga-repository</id>
                    <url>http://maven.repository.redhat.com/techpreview/all</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>jboss-ga-plugin-repository</id>
                    <url>http://maven.repository.redhat.com/techpreview/all</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>jboss-earlyaccess-repository</id>
            <repositories>
                <repository>
                    <id>jboss-earlyaccess-repository</id>
                    <url>http://maven.repository.redhat.com/earlyaccess/all/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>jboss-earlyaccess-plugin-repository</id>
                    <url>http://maven.repository.redhat.com/earlyaccess/all/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>jboss-ga-repository</activeProfile>
        <activeProfile>jboss-earlyaccess-repository</activeProfile>
    </activeProfiles>
</settings>